global
    daemon
    pidfile /run/haproxy.pid
    maxconn 2048
    log stdout format raw local0

defaults
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_http
    bind *:80
    default_backend be_web

backend be_web
    balance roundrobin
    option httpchk GET /
    http-check expect status 200
    option http-server-close

    server web1 ansible-web1:80 check rise 2 fall 2
    server web2 ansible-web2:80 check rise 2 fall 2
    server web3 ansible-web3:80 check rise 2 fall 2
    server web4 ansible-web4:80 check rise 2 fall 2
    server web5 ansible-web5:80 check rise 2 fall 2
    server web6 ansible-web6:80 check rise 2 fall 2
